*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1d2b3a;
    text-transform:  capitalize;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    
}
.inputbox{
    position: relative;
    width: 250px;
   
}
.inputbox>input{
    width: 100%;
    outline: none;
    background-color: #1d2b3a;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.25);
    height: 38px;
    color: #fff;
    font-size: 1em;
    padding: 10px;
}
.inputbox span{
    position: absolute;
    left: 0;
    text-transform: uppercase;
    color: rgba(255,255,255,0.25);
    font-size: 1em;
    padding: 10px;
    transition: 0.4s;
    pointer-events: none;

    
}
.inputbox input:focus ~ span{
    color: #00dfc4;
    transform: translateX(10px)translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background-color: #1d2b3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 1px;
}
.inputbox:nth-of-type(2) input:focus ~ span{
    background-color: #00dfc4;
    color: #1d2b3a;
    height: 15px;
}
